In [25]:
import pandas as pd
import sqlite3 as sql3
import csv

In [3]:
with sql3.connect('../data/chinook.db') as connection:
    df_customers = pd.read_sql(
        'SELECT * FROM customers',
        con=connection
    )
df_customers.head(10)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

In [13]:
df_iris = pd.read_json('../data/iris.json')
print(df_iris.shape, df_iris.columns)

(150, 5) Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

In [16]:
df_titanic = pd.read_excel('../data/titanic.xlsx', sheet_name='Sheet1')
df_titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
df_parquet = pd.read_parquet('../data/flights')
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6729125 entries, 0 to 6729124
Columns: 109 entries, Year to Div5TailNum
dtypes: object(109)
memory usage: 5.5+ GB

In [40]:
df_movie = pd.read_csv('../data/movie.csv')
df_movie.sample(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
349,Color,John Lasseter,191.0,82.0,487.0,967.0,John Ratzenberger,15000.0,245823397.0,Adventure|Animation|Comedy|Family|Fantasy,...,515.0,English,USA,G,90000000.0,1999.0,1000.0,7.9,1.85,0
892,Color,John Singleton,160.0,99.0,309.0,577.0,Vanessa Williams,23000.0,70327868.0,Action|Crime|Thriller,...,301.0,English,Germany,R,46000000.0,2000.0,1000.0,5.9,2.35,0
3988,Color,Adam Marcus,112.0,91.0,18.0,307.0,Leslie Jordan,935.0,15935068.0,Fantasy|Horror|Thriller,...,317.0,English,USA,R,2500000.0,1993.0,805.0,4.3,1.85,949
480,Color,Steven Brill,87.0,90.0,65.0,658.0,Jon Lovitz,11000.0,39442871.0,Comedy|Fantasy,...,237.0,English,USA,PG-13,80000000.0,2000.0,11000.0,5.3,1.85,0
794,Color,Walter Salles,196.0,103.0,179.0,87.0,Camryn Manheim,794.0,25472967.0,Drama|Horror|Thriller,...,411.0,English,USA,PG-13,30000000.0,2005.0,329.0,5.6,2.35,0
3156,Color,Bob Odenkirk,51.0,93.0,0.0,622.0,Lee Majors,966.0,900926.0,Comedy,...,46.0,English,USA,R,10000000.0,2007.0,799.0,5.3,1.85,319
4255,Color,Jehane Noujaim,68.0,108.0,63.0,5.0,Ahmed Hassan,161.0,NaN,Documentary|Drama|History|News,...,42.0,Arabic,Egypt,Not Rated,1500000.0,2013.0,10.0,8.1,1.85,0
493,Color,Kevin Costner,79.0,177.0,0.0,582.0,Brian Anthony Wilson,766.0,17593391.0,Action|Adventure|Drama|Sci-Fi,...,376.0,English,USA,R,80000000.0,1997.0,674.0,6.0,2.35,0
2340,Color,Lee Tamahori,167.0,109.0,93.0,521.0,Dominic Cooper,31000.0,1357042.0,Biography|Drama|Thriller,...,125.0,English,Belgium,R,15000000.0,2011.0,3000.0,7.1,2.35,14000
2353,Color,Emile Ardolino,10.0,92.0,22.0,0.0,Kyra Nichols,2.0,2119994.0,Family|Fantasy|Music,...,15.0,English,USA,G,19000000.0,1993.0,0.0,5.7,1.85,238

In [32]:
with open('../data/movie.csv') as f:
    reader = csv.reader(f)
    header = next(reader)
    header_list = list(header)
print(header_list[1])

director_name