In [34]:
import pandas as pd
import sqlite3 as sql3
import numpy as np

In [57]:
df_iris = pd.read_json('../data/iris.json')
df_iris.columns = df_iris.columns.str.lower()
df_iris[['sepalLength', 'sepalWidth']]

     sepalLength  sepalWidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

In [62]:
from collections import Counter
df_titanic = pd.read_excel('../data/titanic.xlsx')
titanic = df_titanic[df_titanic['Age'] > 30]
nums = titanic['Sex']
Counter(nums)

Counter({'male': 202, 'female': 103})

In [ ]:
df_parquet = pd.read_parquet('../data/flights')
parquet = df_parquet[['origin', 'dest', 'carrier']]
parquet.head()

In [69]:
df_movie = pd.read_csv('../data/movie.csv')
df_movie[df_movie['duration'] > 120].sort_values(by='director_facebook_likes', ascending=False)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
120,Color,Christopher Nolan,478.0,128.0,22000.0,11000.0,Liam Neeson,23000.0,205343774.0,Action|Adventure,...,2685.0,English,USA,PG-13,150000000.0,2005.0,14000.0,8.3,2.35,15000
1222,Color,Christopher Nolan,341.0,130.0,22000.0,19000.0,Hugh Jackman,23000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,...,1100.0,English,USA,PG-13,40000000.0,2006.0,20000.0,8.5,2.35,49000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,Color,NaN,9.0,142.0,NaN,427.0,Jack O'Connell,27000.0,NaN,Drama|Romance,...,33.0,English,UK,NaN,NaN,NaN,698.0,7.7,NaN,0
3582,Color,NaN,10.0,240.0,NaN,334.0,Blake Ritson,805.0,NaN,Comedy|Drama|Romance,...,50.0,English,UK,NaN,NaN,NaN,432.0,8.2,1.78,0
3799,Color,NaN,2.0,199.0,NaN,505.0,Jonathan Crombie,662.0,NaN,Drama|Family,...,74.0,English,Canada,TV-G,NaN,NaN,517.0,8.4,1.33,0
4005,Color,NaN,NaN,197.0,NaN,110.0,Jessica De Gouw,578.0,NaN,Drama|War,...,1.0,English,Australia,NaN,15000000.0,NaN,476.0,7.4,NaN,367
4031,Color,NaN,10.0,173.0,NaN,476.0,Colm Feore,723.0,NaN,Horror|Sci-Fi|Thriller,...,33.0,English,USA,NaN,NaN,NaN,539.0,5.0,1.78,518